<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Resistation</display-name>
    <servlet-name>Resistation</servlet-name>
    <servlet-class>resistation.Resistation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resistation</servlet-name>
    <url-pattern>/Resistation</url-pattern>
  </servlet-mapping>
  <display-name>ResistationForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Travling</display-name>
    <servlet-name>Travling</servlet-name>
    <servlet-class>travling.Travling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Travling</servlet-name>
    <url-pattern>/Travling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resistationf</display-name>
    <servlet-name>Resistationf</servlet-name>
    <servlet-class>resistation.Resistation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resistationf</servlet-name>
    <url-pattern>/Resistationf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resistationform</display-name>
    <servlet-name>Resistationform</servlet-name>
    <servlet-class>resistation.Resistation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resistationform</servlet-name>
    <url-pattern>/Resistationform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Travlingform</display-name>
    <servlet-name>Travlingform</servlet-name>
    <servlet-class>travling.Travling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Travlingform</servlet-name>
    <url-pattern>/Travlingform</url-pattern>
  </servlet-mapping>
</web-app>